.DS_Store
syncthing*
__pycache__

*.pdf
*.pyc
*.h5
*.hdf5
*.nc
*.npy
!user/2M2236b_G395H_logg-normal/reference_model_for_wavelengths.nc

experimental/

reference_data/*

scratch_work/

user/old_files_for_comparison/
user/old_style
user/even_older_style
user/Ross458*
user/HD106906*

potluck/material/clouds/*
!potluck/material/clouds/cloud_metrics.py
potluck/material/gases/reference_data/*.nc

potluck/check_xarray_files.py
potluck/curate_pRT_molecular_crosssections.py
potluck/compare_nearly_isothermal_spectra.py
potluck/compile_vertical_structure_for_Wills_model.py
potluck/calculate_Wills_simplified_Ross458c_model.py
potluck/calculate_test_2M2236b_model.py
potluck/calculate_ATMO_model.py
potluck/compare_isothermal_spectra.py
potluck/test_opacity_tables.py
potluck/speed_test_numba_RT.py

.gitignore
potluck/material/scattering/check_rayleigh_equation.py

slurm-*.out
compare_with_pRT/ross458c_setup.py
potluck/curate_TauREX_molecular_crosssections.py
potluck/temperature/compare_TP_models.py
potluck/temperature/poseidon_piette_function.py
examine_Na2S_optical_depths.py
pyROX/
compare_with_pRT/
potluck/retrieval/export_intermediate_retrieval_results.py
potluck/curate_TauREX_molecular_crosssections_for_Teff.py
